body {
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: black;
  background-size: cover;
  background-position: center;
}

canvas {
  max-width: 100%;
  object-fit: contain;
}

.hide-cursor {
  cursor: none !important;
}

#PlayButton {
  background-color: rgba(0, 0, 255, 0);
  height: 18vh;
  width: 50vw; 
  position: absolute;
  top: 60.5%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

#ElevatorButtons {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 255, 0.5);
  clip-path: polygon(70% 39%, 84.5% 39%, 84.5% 74%, 70% 74%);
  z-index: 0;
}