html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#MainMenu {
  background-image: URL("Images/MainMenu_Test.png");
  background-size: cover;
}

#PlayButton {
  background-image: url("Images/PlayButton_Test.png");
  background-size: contain;
  /* background-repeat: no-repeat; */
  background-position: center;
  position: absolute;
  height: 140px;
  width: 30%;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}

#GameScreen {
  background-image: url("Images/Elevator_wb_Tes.png");
  background-size: cover;
}

#ElevatorButtons {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 255, 0.5);
  clip-path: polygon(71% 29%, 86.5% 29%, 86.5% 64%, 71% 64%);
}