html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

#MainMenu {
  background-image: URL("Images/MainMenu_Test.png");
  background-size: cover;
}

#PlayButton {
  background-image: url("Images/PlayButton_Test.png");
  background-size: contain;
  /* background-repeat: no-repeat; */
  background-position: center;
  position: absolute;
  height: 140px;
  width: 30%;
  top: 55%;
  left: 50%;
  transform: translateX(-50%);
}